aiohappyeyeballs 
aiohttp 
aiosignal 
annotated-types 
anyio 
async-timeout 
attrs 
blinker 
bzip2 
ca-certificates 
certifi 
charset-normalizer 
click 
deprecation 
distro 
exceptiongroup 
flask 
flask_cors 
frozenlist 
gotrue 
h11 
h2 
hpack 
httpcore 
httpx 
hyperframe 
idna 
itsdangerous 
jinja2 
jiter 
libffi 
markupsafe 
multidict 
ncurses 
openai 
openssl 
packaging 
pip 
postgrest 
propcache 
pydantic 
pydantic-core 
python 
python-dateutil 
python-dotenv 
readline 
realtime 
requests 
setuptools 
six 
sniffio 
sqlite 
storage3 
strenum 
supabase 
supafunc 
tk 
tqdm 
typing-extensions 
typing_extensions 
tzdata 
urllib3 
vercel 
websockets 
werkzeug 
wheel 
xz 
yarl 
zlib 
